<% include ../partials/header %>

<div class="container">

    <h3 class="text-center my-3">Add new comment to <%= campground.name %></h3>
    <hr>
    
    <div style="width: 30%" class="m-auto">
    
        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="comment" name="comment[text]">
            </div>
            <!--<div class="form-group">-->
            <!--    <input class="form-control" type="text" placeholder="author" name="comment[author]">-->
            <!--</div>-->
            <div class="form-group">
                <button class="btn btn-primary" style="width: 100%">Submit</button>
            </div>
        </form>
        <div class="text-center">
            <a href="/campgrounds/<%= campground._id %>">Go Back</a>
        </div>
    </div>
    
</div>
    
<% include ../partials/footer %>